species:
  name: Acanthis cabaret
  short_name: bAcaCab
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bAcaCab1
    biosample_id:
    description:
    provider:
