species:
  name: Amazona ochrocephala
  short_name: bAmaOch
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bAmaOch1
    biosample_id:
    description:
    provider:
