species:
  name: Amblysomus hottentotus
  short_name: mAmbHot
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mAmbHot1
    biosample_id:
    description:
    provider:
