species:
  name: Anadara tuberculosa
  short_name: xbAnaTub
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: xbAnaTub1
    biosample_id:
    description:
    provider:
