species:
  name: Apteryx mantelli
  short_name: bAptMan
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bAptMan1
    biosample_id:
    description:
    provider:
