species:
  name: Artibeus lituratus
  short_name: mArtLit
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mArtLit1
    biosample_id:
    description:
    provider:
