species:
  name: Artibeus intermedius
  short_name: mArtInt
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mArtInt1
    biosample_id:
    description:
    provider:
