species:
  name: Aspidoscelis tigris
  short_name: rAspTig
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rAspTig1
    biosample_id:
    description:
    provider:
