species:
  name: Atractosteus spatula
  short_name: fAtrSpa
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fAtrSpa1
    biosample_id:
    description:
    provider:
