species:
  name: Bradypodion pumilum
  short_name: rBraPum
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rBraPum1
    biosample_id:
    description:
    provider:
