species:
  name: Calidris alpina
  short_name: bCalAlp
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bCalAlp1
    biosample_id:
    description:
    provider:
