species:
  name: Candoia aspera
  short_name: rCanAsp
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rCanAsp1
    biosample_id:
    description:
    provider:
