species:
  name: Caretta caretta
  short_name: rCarCar
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rCarCar1
    biosample_id:
    description:
    provider:
