species:
  name: Chaetodon trifascialis
  short_name: fChaTrf
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fChaTrf1
    biosample_id:
    description:
    provider:
