species:
  name: Clavelina producta
  short_name: kaClaProd
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: kaClaProd1
    biosample_id:
    description:
    provider:
