species:
  name: Coregonus huntsmani
  short_name: fCorHun
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fCorHun2
    biosample_id:
    description:
    provider:
