species:
  name: Corvus frugilegus
  short_name: bCorFru
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bCorFru1
    biosample_id:
    description:
    provider:
