species:
  name: Corynorhinus townsendii
  short_name: mCorTow
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mCorTow1
    biosample_id:
    description:
    provider:
