species:
  name: Cryptobranchus alleganiensis
  short_name: aCryAll
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: aCryAll3
    biosample_id:
    description:
    provider:
