species:
  name: Cyanocitta cristata
  short_name: bCyaCrs
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bCyaCrs1
    biosample_id:
    description:
    provider:
