species:
  name: Cynoscion nebulosus
  short_name: fCynNeb
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fCynNeb1
    biosample_id:
    description:
    provider:
