species:
  name: Dasypterus ega
  short_name: mDasEga
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mDasEga1
    biosample_id:
    description:
    provider:
