species:
  name: Dendrocopos major
  short_name: bXipMaj
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bXipMaj1
    biosample_id:
    description:
    provider:
