species:
  name: Dumetella carolinensis
  short_name: bDumCar
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bDumCar1
    biosample_id:
    description:
    provider:
