species:
  name: Eidolon dupreanum
  short_name: mEidDup
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mEidDup1
    biosample_id:
    description:
    provider:
