species:
  name: Eleutherodactylus marnockii
  short_name: aEleMan
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: aEleMan1
    biosample_id:
    description:
    provider:
