species:
  name: Emberiza calandra
  short_name: bEmbCal
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bEmbCal1
    biosample_id:
    description:
    provider:
