species:
  name: Empidonax oberholseri
  short_name: bEmpObe
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bEmpObe1
    biosample_id:
    description:
    provider:
