species:
  name: Eptesicus furinalis
  short_name: mEptFur
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mEptFur1
    biosample_id:
    description:
    provider:
