species:
  name: Eptesicus chiriquinus
  short_name: mEptChi
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mEptChi1
    biosample_id:
    description:
    provider:
