species:
  name: Equus caballus
  short_name: mEquCab
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mEquCab1
    biosample_id:
    description:
    provider:
  - short_name: mEquCab2
    biosample_id:
    description:
    provider:
  - short_name: mEquCab3
    biosample_id:
    description:
    provider:
