species:
  name: Forsterygion lapillum
  short_name: fForLap
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fForLap1
    biosample_id:
    description:
    provider:
