species:
  name: Gardnerycteris keenani
  short_name: mGarKee
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mGarKee1
    biosample_id:
    description:
    provider:
