species:
  name: Girardinichthys multiradiatus
  short_name: fGirMul
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fGirMul3
    biosample_id:
    description:
    provider:
  - short_name: fGirMul4
    biosample_id:
    description:
    provider:
  - short_name: fGirMul5
    biosample_id:
    description:
    provider:
