species:
  name: Glossophaga mutica
  short_name: mGloMut
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mGloMut1
    biosample_id:
    description:
    provider:
