species:
  name: Haplochromis burtoni
  short_name: fHapBur
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fHapBur1
    biosample_id:
    description:
    provider:
  - short_name: fHapBur2
    biosample_id:
    description:
    provider:
