species:
  name: Hippopotamus amphibius
  short_name: mHipAmp
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mHipAmp2
    biosample_id:
    description:
    provider:
