species:
  name: Hylobates pileatus
  short_name: mHylPil
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mHylPil1
    biosample_id:
    description:
    provider:
  - short_name: mHylPil2
    biosample_id:
    description:
    provider:
