species:
  name: Ia io
  short_name: mIaxIox
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mIaxIox2
    biosample_id:
    description:
    provider:
