species:
  name: Indotestudo elongata
  short_name: rIndElo
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rIndElo1
    biosample_id:
    description:
    provider:
