species:
  name: Inia geoffrensis
  short_name: mIniGeo
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mIniGeo1
    biosample_id:
    description:
    provider:
