species:
  name: Kogia breviceps
  short_name: mKogBre
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mKogBre1
    biosample_id:
    description:
    provider:
