species:
  name: Lampris incognitus
  short_name: fLamInc
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fLamInc1
    biosample_id:
    description:
    provider:
