species:
  name: Lasiurus ega
  short_name: mLasEga
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mLasEga1
    biosample_id:
    description:
    provider:
