species:
  name: Lepidogalaxias salamandroides
  short_name: fLepSal
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fLepSal2
    biosample_id:
    description:
    provider:
