species:
  name: Leptosomus discolor
  short_name: bLepDis
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bLepDis1
    biosample_id:
    description:
    provider:
