species:
  name: Macrochelys suwanniensis
  short_name: rMacSuw
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rMacSuw1
    biosample_id:
    description:
    provider:
