species:
  name: Mantella aurantiaca
  short_name: aManAur
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: aManAur1
    biosample_id:
    description:
    provider:
