species:
  name: Melanonus zugmayeri
  short_name: fMelZyg
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fMelZyg2
    biosample_id:
    description:
    provider:
