species:
  name: Micronycteris microtis
  short_name: mMicMic
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mMicMic1
    biosample_id:
    description:
    provider:
