species:
  name: Morus bassanus
  short_name: bMorBas
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bMorBas2
    biosample_id:
    description:
    provider:
