species:
  name: Myotis nesopolus
  short_name: mMyoNes
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mMyoNes1
    biosample_id:
    description:
    provider:
