species:
  name: Nematolebias whitei
  short_name: fNemWhi
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fNemWhi1
    biosample_id:
    description:
    provider:
