species:
  name: Otidiphaps nobilis
  short_name: bOtiNob
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bOtiNob1
    biosample_id:
    description:
    provider:
