species:
  name: Pampusana sanctaecrucis
  short_name: bPamSan
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPamSan1
    biosample_id:
    description:
    provider:
