species:
  name: Pantodon buchholzi
  short_name: fPanBuc
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fPanBuc1
    biosample_id:
    description:
    provider:
