species:
  name: Patagioenas cayennensis
  short_name: bPatCay
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPatCay1
    biosample_id:
    description:
    provider:
