species:
  name: Pelomedusa somalica
  short_name: rPelSom
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rPelSom1
    biosample_id:
    description:
    provider:
