species:
  name: Pempheris schomburgkii
  short_name: fPemSco
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fPemSco2
    biosample_id:
    description:
    provider:
