species:
  name: Perimyotis subflavus
  short_name: mPerSub
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mPerSub1
    biosample_id:
    description:
    provider:
