species:
  name: Peromyscus gossypinus
  short_name: mPerGos
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mPerGos1
    biosample_id:
    description:
    provider:
