species:
  name: Phallusia mammillata
  short_name: kaPhaMamm
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: kaPhaMamm4
    biosample_id:
    description:
    provider:
