species:
  name: Phasianus colchicus
  short_name: bPhaCol
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPhaCol1
    biosample_id:
    description:
    provider:
