species:
  name: Phrynorhombus norvegicus
  short_name: fPhrNor
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fPhrNor1
    biosample_id:
    description:
    provider:
