species:
  name: Platyrrhinus helleri
  short_name: mPlaHel
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mPlaHel1
    biosample_id:
    description:
    provider:
