species:
  name: Platysternon megacephalum
  short_name: rPlaMeg
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rPlaMeg1
    biosample_id:
    description:
    provider:
