species:
  name: Pleurodeles waltl
  short_name: aPleWal
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: aPleWal1
    biosample_id:
    description:
    provider:
