species:
  name: Poecile atricapillus
  short_name: bPoeAtr
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPoeAtr1
    biosample_id:
    description:
    provider:
