species:
  name: Polymixia lowei
  short_name: fPolLow
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fPolLow2
    biosample_id:
    description:
    provider:
