species:
  name: Pseudacris triseriata
  short_name: aPseTri
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: aPseTri1
    biosample_id:
    description:
    provider:
