species:
  name: Puffinus subalaris
  short_name: bPufSub
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPufSub1
    biosample_id:
    description:
    provider:
