species:
  name: Pulsatrix perspicillata
  short_name: bPulPer
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPulPer1
    biosample_id:
    description:
    provider:
