species:
  name: Pycnonotus jocosus
  short_name: bPycJoc
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPycJoc1
    biosample_id:
    description:
    provider:
