species:
  name: Pyrrhocorax pyrrhocorax
  short_name: bPyrPyr
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bPyrPyr1
    biosample_id:
    description:
    provider:
