species:
  name: Rhinolophus clivosus
  short_name: mRhiCli
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mRhiCli1
    biosample_id:
    description:
    provider:
