species:
  name: Rhinopoma cystops
  short_name: mRhiCys
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mRhiCys1
    biosample_id:
    description:
    provider:
