species:
  name: Rousettus madagascariensis
  short_name: mRouMad
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mRouMad1
    biosample_id:
    description:
    provider:
