species:
  name: Saguinus oedipus
  short_name: mSagOed
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mSagOed1
    biosample_id:
    description:
    provider:
