species:
  name: Saimiri boliviensis
  short_name: mSaiBol
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mSaiBol1
    biosample_id:
    description:
    provider:
