species:
  name: Sayornis phoebe
  short_name: bSayPho
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bSayPho2
    biosample_id:
    description:
    provider:
