species:
  name: Scalopus aquaticus
  short_name: mScaAqu
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mScaAqu1
    biosample_id:
    description:
    provider:
