species:
  name: Stegostoma tigrinum
  short_name: sSteFas
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: sSteFas4
    biosample_id:
    description:
    provider:
