species:
  name: Sternotherus odoratus
  short_name: rSteOdo
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: rSteOdo1
    biosample_id:
    description:
    provider:
