species:
  name: Tamiasciurus hudsonicus
  short_name: mTamHud
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mTamHud2
    biosample_id:
    description:
    provider:
  - short_name: mTamHud3
    biosample_id:
    description:
    provider:
