species:
  name: Toxostoma rufum
  short_name: bToxRuf
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: bToxRuf1
    biosample_id:
    description:
    provider:
