species:
  name: Trigloporus lastoviza
  short_name: fTriLas
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: fTriLas1
    biosample_id:
    description:
    provider:
