species:
  name: Tupaia belangeri
  short_name: mTupBel
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mTupBel1
    biosample_id:
    description:
    provider:
