species:
  name: Vicugna pacos
  short_name: mVicPac
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mVicPac1
    biosample_id:
    description:
    provider:
