species:
  name: Xenopus allofraseri
  short_name: aXenAll
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: aXenAll1
    biosample_id:
    description:
    provider:
