species:
  name: Zapus hudsonius
  short_name: mZapHud
  common_name:
  taxon_id:
  order:
    name:
  family:
    name:
  individuals:
  - short_name: mZapHud1
    biosample_id:
    description:
    provider:
